{% extends "genaccount/base.html" %}

{% block content %}
        <div class="entry">
            <h1>Back to <a href="{% url 'genaccount:account_list' %}">Account List</a></h1>
        </div>
    {% if object %}
        <div class="entry">
            <h2>Edit {{ object.name }}</h2>
    {% else %}
            <h2>Create</h2>
    {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </div>
{% endblock %}
